body{
  background-color: #C4C4C4;
  margin: 0;
}
.header{
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  height: 52px;
}
.nav{
  background-color: #726666;
}
.footer{
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 54px;
}

main{
  position: relative;
}

.card-container{
  display: flex;
  align-items: flex-start;
}

.card {
  margin: auto;
  margin-top: 107px;
  padding: 8px;
  
  width: 304px;
  height: 304px;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.card__img-top {
  position: static;
  width: 288px;
  height: 182px;
  left: 0px;
  top: 0px;
  margin-bottom: 16px;
}

.card__title{
  color:#282828;
  font-size: 14px;
}

.card__description{
  color:#282828;
  font-size: 12px;
}
